.App {
  text-align: center;
}

.App, body{
  background-color: black;
  margin-top: 25px
}
/* 
.Col {
  margin-bottom: 15px
} */

nav{
  flex-direction: row;
}

.products-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: grid;
}

